*{
	box-sizing: border-box;
}
.navbar, body{
	background-color: rgb(58, 66, 79);
}

.navbar-brand{
	color: rgb(28, 169, 75);
	/*color: #f79eb2;*/
	font-size: 25px;
	font-weight: bold;
	margin-left: 50px;
}

.topnav a, .navbar-brand:hover{
	color: rgb(123, 146, 161);
}

.intro1{
	margin-top: 50px;
	border: 1px solid yellow;
	padding: 20px;
	/*box-sizing: border-box;*/
}

/*.intro-row{
	box-sizing: border-box;
	border: 1px solid green;
}*/

.my-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	/*font-family: 'Comic Neue', cursive;*/
}

.title{
	font-size: 25px;
	color: rgb(123, 146, 161);
}

.topimg{
	border:1px solid yellow;
	border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
	box-sizing: border-box;
	background-position: top;
}

.messages{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.messages p{
	border: 1px solid rgb(28, 169, 75);
	padding: 8px 30px;
	border-radius: 25px;
}

.messages a, .messages a:hover{
	color: white;
	text-decoration: none;
}

.messages .email{
	background-color: rgb(28, 169, 75);
}
.messages p:hover{
	background-color: rgb(28, 169, 75);
	cursor: pointer;
}

		/*skills division */

.skills, .projects,
.contact{
	/*border: 1px solid yellow;*/
	padding: 20px ;
	margin-top: 40px;
}

.skills>h1, .projects>h1,
.contact>h1{
	color: rgb(28, 169, 75); 
	text-align:center;
	font-weight: bold;
	padding: 20px 0 30px 0;
}

.skillrow{
	margin-bottom: 25px;
}
.skillname{
	display: flex;
	justify-content: space-between;
	color: white;
	font-family: 'Comic Neue', cursive;
}

.skillbox{
	border: 1px solid rgb(28, 169, 75);
	width: 100%;
	padding: 15px ;
	border-radius: 20px;
	background-color: rgb(27, 37, 62);
	box-shadow: 5px 5px 5px rgb(15, 32, 21);
}	

.progress{
	padding: 4px;
	border-radius: 8px;
	background-color: rgb(123, 146, 161);
}

.progress-bar{
	border-radius: 20px 0 0 20px;
	animation: cheezee 2s infinite ease;
}

.html{
	background-color: #685905;
}
.css{
	background-color: rgb(160, 0, 64);
}

.bootstrap{
	background-color: rgb(160, 0, 64);
}

.javascript{
	background-color: #066666;
}
@keyframes cheezee{
	0%{width: 0%;}
	10%{width: 15%;}
	20%{width: 25%;}
	30%{width: 35%;}
}
	
	/*My Projects*/

.mycontainer{ 
	width:100%;
	display: grid;
	grid-auto-flow: dense;
	grid-template: "1fr 1fr 1fr 1fr 1fr" 33.33vh
					"1fr 1fr 1fr 1fr 1fr" 33.33vh;
	grid-gap: 10px;

}

.mycontainer .box{
	position: relative;
	background-color: #ccc;
}

.mycontainer .box img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}	

.mycontainer .box.a{
	grid-row: span 2;

}

.mycontainer .box.b,
.mycontainer .box.f{
	grid-column: span 2;
}

		/*details*/
.details{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
}

.fa{
	font-size: 40px;
	color:  rgb(28, 169, 75);
	border: 1px solid  yellow;
	/*border: 1px solid  rgb(28, 169, 75);*/
	padding: 40px;
	border-radius: 50%;
	background-color: #1b253e;
	/*background-color: rgb(123, 146, 161);*/
	margin-bottom: 20px;
}

.fa:hover{
	color: yellow;
	font-size: 50px;
	background-color: #1b253e;
	/*animation: fontborder 3s ease;*/
}

.fa-mobile:hover{
	text-decoration: none;
}

.fa-telegram:hover{
	text-decoration: none;
}
.details>h4{
	color: rgb(123, 146, 161);
	font-family: 'Comic Neue', cursive;
}

.details>p{
	font-size: 20px;
	color: rgb(123, 146, 161);
}
		/*contact*/

.mycolumn{
	/*border:1px solid green;*/
	display: flex;
	justify-content: center;
	padding: 30px 0;
}		
.bottomimg{
	border-radius: 50%;
	border: 1px solid yellow;
	height:400px;
	width:400px;
}

.myform{
	display: flex;
	justify-content: center;
	align-items: center;
}

form{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inputs, input[type='submit'], textarea{
	width: 90%;
	margin-bottom: 10px;
	border: none;
	box-shadow: none;
	border:1px solid grey;
	border-radius: 10px;
	padding: 15px;
}

.inputs:hover, textarea:hover{
	background-color: rgb(123, 146, 161);

}

input[type='submit']{
	border:none;
	background-color: rgb(28, 169, 75);
	color: white;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

footer{
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1b253e

}

footer p{
	color: rgb(123, 146, 161);
}


@media (max-width:600px){
	.mycontainer{ 
	width:100%;
	display: grid;
	grid-auto-flow: dense;
	grid-template: "1fr 1fr" 33.33vh
					"1fr 1fr" 33.33vh
					"1fr 1fr" 33.33vh
					"1fr 1fr" 33.33vh;
	grid-gap: 10px;

	}

	.intro1{
		margin: 0 10px;
		box-sizing: border-box;
		padding: 20px 5px;
	}

	.topimg{
		width:300px;
		height: 300px;
	}

	.bottomimg{
		width: 150px;
		height: 150px;
	}
}